section#home
  .nav-bar
    .nav-wrapper
      .nav-logo
        img(src='assets/img/logo_plainS.png')
        //p Book Stream
      .nav-menu
        a(href='#audiobooks') Hörbücher
        a(href='#') Labels
        a(href='#') Impressum
  .home-wrapper
    //h1 Welcome to
    #intro-container
      .intro-box
        .logo
          img(src='../../artwork/logo_wide.png')

        .intro
          p
            span.mobile-fat Bookstream&nbsp;
            | ist ein junger und stetig wachsender Hörbuchverlag mit Fokus auf den digitalen Streaming-Markt. Der Firmensitz ist in Wien. Seit 2016 veröffentlichen wir aktuelle und Klassikerhörbücher online auf allen gängigen Streaming- und Downloadplattformen. Unsere Hörbücher erscheinen in vielen verschiedenen Sprachen, unter anderem auf Deutsch, Englisch, Spanisch oder Chinesisch und sind online weltweit verfügbar.

        .cta
          a.cta-button(href='#audiobooks') Zu den Hörbüchern

    #audiobooks
      h2.sub-title Hörbücher
      .top-selection
        //.sel.sel-1
        //  img(src='../assets/img/audiobooks/AB1.png')
        //.sel.sel-2
        //  img(src='../assets/img/audiobooks/AB1.png')
        //.sel.sel-3
        //  img(src='../assets/img/audiobooks/AB1.png')

        .container
          #carousel
            figure
              img(src='/../assets/img/audiobooks/AB1.png', alt='')
            figure
              img(src='/../assets/img/audiobooks/AB2.png', alt='')
            figure
              img(src='/../assets/img/audiobooks/AB3.png', alt='')
            figure
              img(src='/../assets/img/audiobooks/AB4.png', alt='')
            figure
              img(src='/../assets/img/audiobooks/AB5.png', alt='')
            figure
              img(src='/../assets/img/audiobooks/AB6.png', alt='')


      //.add-selection
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:3JyyBYCWCaWoXtiDF7B85p', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:3d4fS2xdAOnJI1IWdXH2Qo', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:1OAjH4JOWY8YvPWdungQze', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:1HJavqofXg9zEUQXL4Vi50', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:6o5CNvlT3BX4RN2aCVUP7M', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:2T5RXlPYHEzscq8DABVsay', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:0J8AVIasW8A4OyGhGgC8Vl', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:2bVT4dr4Ox2XRN8fxQa1bB', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')
      //  .sel
      //    iframe(src='https://open.spotify.com/embed?uri=spotify:album:7mEakCd5ehAv00PkG2w0um', width='300', height='80', frameborder='0', allowtransparency='true', allow='encrypted-media')

    #labels
      .label-container
        h2.sub-title Labels
