@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600");
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  background-color: #111;
  width: 100%;
  overflow-x: hidden; }
  body .sub-title {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 3rem; }
  body ul {
    list-style: none;
    padding: 0; }
  body .main-text {
    width: 60vw;
    font-weight: 400;
    letter-spacing: .5;
    text-align: center; }
    body .main-text .mobile-fat {
      font-weight: bold; }
  body .cta {
    margin-top: 1rem; }
    body .cta .cta-button {
      text-decoration: none;
      background: #3acdfe;
      padding: 1rem 2rem;
      border-radius: 4px;
      box-shadow: 0px 4px rgba(0, 0, 0, 0.4);
      color: white;
      font-size: 1.4rem;
      text-transform: uppercase; }

section#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 280px;
  position: relative; }
  section#home .nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media (max-width: 800px) {
      section#home .nav-bar {
        height: auto;
        padding: .5rem 0; } }
    section#home .nav-bar .nav-wrapper {
      width: 80%;
      max-width: 920px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 800px) {
        section#home .nav-bar .nav-wrapper {
          display: block;
          text-align: center; } }
      section#home .nav-bar .nav-wrapper .nav-logo {
        height: 30px;
        opacity: 0; }
        @media (min-width: 801px) {
          section#home .nav-bar .nav-wrapper .nav-logo {
            margin-left: 2rem; } }
        section#home .nav-bar .nav-wrapper .nav-logo img {
          height: 100%; }
      section#home .nav-bar .nav-wrapper .nav-menu a {
        color: #111;
        text-decoration: none;
        margin-left: 2rem; }
        section#home .nav-bar .nav-wrapper .nav-menu a:first-child {
          margin-left: 0; }
      @media (max-width: 800px) {
        section#home .nav-bar .nav-wrapper .nav-menu {
          display: none; } }
  section#home .home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    section#home .home-wrapper #intro {
      position: relative;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(./../img/back_light.jpg);
      background-size: cover;
      background-attachment: fixed;
      z-index: 0; }
      section#home .home-wrapper #intro .intro-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 43%, rgba(255, 255, 255, 0.8) 56%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 43%, rgba(255, 255, 255, 0.8) 56%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 43%, rgba(255, 255, 255, 0.8) 56%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00feffff', endColorstr='#00ffffff',GradientType=0 );
        width: 100vw; }
        @media (min-width: 801px) {
          section#home .home-wrapper #intro .intro-box {
            position: fixed; } }
        section#home .home-wrapper #intro .intro-box .logo {
          width: 40vw; }
          @media (max-width: 800px) {
            section#home .home-wrapper #intro .intro-box .logo {
              width: 80vw; } }
          section#home .home-wrapper #intro .intro-box .logo img {
            width: 100%;
            filter: drop-shadow(0 0 0.6rem rgba(255, 255, 255, 0.3)); }
        section#home .home-wrapper #intro .intro-box .intro {
          color: #111;
          margin: 1rem 0; }
        section#home .home-wrapper #intro .intro-box .cta {
          z-index: 10; }
    section#home .home-wrapper #audiobooks {
      width: 100vw;
      padding: 4rem;
      background: #111;
      z-index: 120;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
      box-sizing: border-box; }
      @media (max-width: 480px) {
        section#home .home-wrapper #audiobooks {
          padding: 1rem; } }
      section#home .home-wrapper #audiobooks p {
        color: #ccc;
        margin-bottom: 3rem; }
      section#home .home-wrapper #audiobooks .top-selection {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        width: 100%; }
        @media (max-width: 800px) {
          section#home .home-wrapper #audiobooks .top-selection {
            display: block;
            width: 70%; }
            section#home .home-wrapper #audiobooks .top-selection .sel {
              padding: 1rem; } }
  @media (max-width: 800px) and (max-width: 480px) {
    section#home .home-wrapper #audiobooks .top-selection {
      width: 100%; } }
        section#home .home-wrapper #audiobooks .top-selection .sel img {
          width: 100%; }
    section#home .home-wrapper .cta-audiobooks {
      margin-top: 2rem; }
    section#home .home-wrapper #labels {
      z-index: 200;
      width: 100vw;
      background: #b4ecfe;
      padding-top: 3rem; }
      section#home .home-wrapper #labels .label-container {
        text-align: center;
        padding-bottom: 2rem;
        color: #111; }
        section#home .home-wrapper #labels .label-container .label-list {
          margin-bottom: 2rem; }
    section#home .home-wrapper .impressum-container {
      text-align: center;
      color: #333;
      font-size: 1rem;
      font-weight: 300;
      padding-bottom: 2rem;
      z-index: 1;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 250px;
      background: #fff; }
      section#home .home-wrapper .impressum-container .sub-title {
        color: #222; }
      section#home .home-wrapper .impressum-container.hidden {
        display: none; }
